circle.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

line.link {
  stroke: #999;
  stroke-opacity: .6;
}
.meaning {
        line-height: 32px;
        text-align: center;
        font-family: arial;
        font-size: 17px;
        font-weight: 600;
        text-indent: 30px;
        overflow: hidden;
        }
